---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carrito de compras">
  <NavBar />
  <main class="flex-grow">
    <h1 class="font-bold text-center text-white pt-20">Hola carrito</h1>
  </main>
  <Footer />
</Layout>
