---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import HeroManga from "../components/HeroManga.astro";
import HeroCatalogo from "../components/HeroCatalogo.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Catalogo Completo">
  <NavBar />
  <main class="flex-grow">
    <HeroCatalogo />
    <HeroManga limit={0} />
  </main>

  <Footer />
</Layout>
