---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import HeroManga from "../components/HeroManga.astro";
---

<Layout title="MangaMinimal">
  <NavBar />
  <main>
    <Hero />
    <HeroManga limit={3} />
  </main>
</Layout>
