---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Inicio de Sesion">
  <NavBar />
  <main class="flex-grow flex items-center justify-center">
    <section class="mt-10">
      <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
      >
        <form class="space-y-6" action="/api/login" method="POST">
          <h5 class="text-xl font-medium text-gray-900 dark:text-white">
            Sign in to our platform
          </h5>
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="name@company.com"
              required
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              required
            />
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Login to your account</button
          >
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            Not registered? <a
              href="/Signup"
              class="text-blue-700 hover:underline dark:text-blue-500"
              >Create account</a
            >
          </div>
        </form>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");
    if (!form) {
      console.error("Formulario no encontrado");
      return;
    }

    form.addEventListener("submit", async (event) => {
      event.preventDefault(); // Evita la redirección predeterminada
      const formData = new FormData(form);

      try {
        const response = await fetch(form.action, {
          method: form.method,
          body: formData,
        });

        if (response.ok) {
          const data = await response.json();
          localStorage.setItem("user", JSON.stringify(data.user));
          alert("Inicio de sesión exitoso");
          window.location.href = "/"; // Redirige a otra página
        } else {
          const error = await response.json();
          alert(`Error: ${error.error}`);
        }
      } catch (error) {
        console.error("Error de red:", error);
      }
    });
  });
</script>
