---
import Imagen from "../assets/img/Biblioteca.webp";
---

<section class="relative w-full overflow-hidden pt-16">
  <div
    class="grid grid-cols-1 md:grid-cols-2 bg-gray-800 mt-10 text-white max-w-6xl md:mx-auto mx-4"
  >
    <div class="flex flex-col justify-center">
      <h1 class="text-center">Bienvenido a MangaMinimal</h1>
      <p>Descubre los mejores mangas en todos los idiomas y marcas</p>
      <button class="bg-black text-white rounded-lg px-4 py-2 mt-10"
        >Explorar Catalogo</button
      >
    </div>
    <img src={Imagen.src} alt="" class="p-2" />
  </div>
</section>
